@keyframes hvr-buzz-out {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0);
  }
  100% {
    transform: translateX(-1px) rotate(0);
  }
}

.animate-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;

  &:hover, &:focus, &:active, &.active {
    animation-name: hvr-buzz-out;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
}

.animate-move-right {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);

  &.active {
    transform: translateX(-60px);
  }
}

.rotateme{
    animation-name: rotateme;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  -webkit-animation-name: rotateme;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

  -moz-animation-name: rotateme;
    -moz-animation-duration: 30s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

  -ms-animation-name: rotateme;
    -ms-animation-duration: 30s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

  -o-animation-name: rotateme;
    -o-animation-duration: 30s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

@keyframes rotateme {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes rotateme {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(45deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes rotateme {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(45deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}
@-o-keyframes rotateme {
    0% {
        -o-transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(45deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

.rotateme-reverse {
    animation-name: rotateme-reverse;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  -webkit-animation-name: rotateme-reverse;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

  -moz-animation-name: rotateme-reverse;
    -moz-animation-duration: 30s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

  -ms-animation-name: rotateme-reverse;
    -ms-animation-duration: 30s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

  -o-animation-name: rotateme-reverse;
    -o-animation-duration: 30s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

@keyframes rotateme-reverse {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes rotateme-reverse {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(-25deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes rotateme-reverse {
    0% {
        -moz-transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(-25deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}
@-o-keyframes rotateme-reverse {
    0% {
        -o-transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(-25deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}