section#faqs {
  .faq-questions {
    padding: $lg-spacing;

    .section {
      &:nth-of-type(3n+1) {
        h3 {
          color: $dark-red;
          text-transform: uppercase;
          border-bottom: 2px solid $dark-red;
        }

        a:hover, a:focus {
          color: $dark-red;
        }
      }

      &:nth-of-type(3n+2) {
        h3 {
          color: $orange;
          border-bottom: 2px solid $orange;
          text-transform: uppercase;
        }

        a:hover, a:focus {
          color: $orange;
        }
      }

      &:nth-of-type(3n+3) {
        h3 {
          color: $light-blue;
          border-bottom: 2px solid $light-blue;
          text-transform: uppercase;
        }

        a:hover, a:focus {
          color: $light-blue;
        }
      }
    }

    .faq-container {
      .question {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
          margin-left: $sm-spacing;
        }
      }


      .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.7s ease-in-out;

        ul {
          li {
            font-size: 1em;
            padding-bottom: 4px;
          }
        }
      }

      &.faq-closed {
        .answer {
          max-height: 0;
        }

        a.hide-answer {
          display: none;
        }

        a.show-answer {
          display: block;
        }
      }

      &.faq-open {
        .answer {
          max-height: 800px;
        }

        a.hide-answer {
          display: block;
        }

        a.show-answer {
          display: none;
        }
      }
    }


  }
}

