section#landing {
  padding-top: $lg-spacing;
  padding-bottom: $lg-spacing;
  @include background-pattern;

  .image-container {
    position: relative;
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 3rem;

    img.oversize {
      max-height: 80vh;
    }

    .ii2030-bubble {
      background: $red;
      height: 200px;
      width: 300px;
      min-width: 250px;
      border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        content: '';
        height: 0px;
        width: 0px;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        border-left: 60px solid $red;
        position: absolute;
        right: -20px;
        bottom: 10px;
        transform: rotate(45deg);
      }

      h2 {
        color: $white;
        text-transform: lowercase;
      }
    }
  }

  h1 {
    line-height: 1.2em;
  }

  a {
    text-decoration: none;
  }
}

section#overview {
  .background-container {
    .outer-container {
      margin: $lg-spacing 0;
    }
  }

  header {
    .headline {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .slide {
    &:focus {
      outline: none;
    }

    h2 {
      text-transform: none;
    }
  }
}

section#timeline {
  .timeline {
    margin-top: $lg-spacing;
    margin-bottom: $md-spacing;
  }

  .slick-dots {
    position: relative;
    bottom: 0;

    li {
      padding: 0 10%;

      button {
        background-color: $red;
        border-radius: 50%;

        &:before {
          font-size: $h3-size;
          top: -60px;
          font-family: $title-font;
          color: $orange;
          width: 100%;
          font-family: $title-font;
        }
      }

      &:before {
        content: '';
        width: 0%;
        outline: 2px solid $white;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: -51%;
      }

      &:after {
        content: '';
        width: 100%;
        outline: 2px solid $red;
        position: absolute;
        z-index: -1;
        top: 50%;
        transition: width 0.5s ease-in-out;
        left: -51%;
      }

      &:nth-of-type(1) {
        &:after {
          content: none;
        }

        button {
          &:before {
            content: '';
          }
        }
      }

      &:nth-of-type(2) {
        &:before {
          width: 100%;
        }

        button {
          &:before {
            content: '';
          }
        }
      }

      &:nth-of-type(3) {
        &:before {
          width: 100%;
        }

        button {
          &:before {
            content: '';
          }
        }
      }

      &.slick-active ~ li {
        button {
          background-color: $white;
        }

        &:after {
          width: 0%;
        }
      }
    }
  }

  .content-container {
    padding: $sm-spacing;

    &.centered {
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .image {
      max-height: 240px;
      overflow-x: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }
}

section#agenda {

  .oversize.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100px);

    img {
      position: relative;
      width: 300px;
    }

    .robot-body {
      &after {
        content: 'Day 1';
      }
    }
  }

  .agenda-item {
    .agenda-date {
      text-transform: uppercase;
    }
  }

  .day-selector {
    .btn {
      margin-bottom: 0;
      font-size: 1em;
    }
  }

  .label {
    text-align: left;
    padding-left: $lg-spacing;
  }

  .tour-agenda {
    section.schedule {
      .schedule-grid {

        .background-container {
          margin-bottom: $lg-spacing;
        }

        .time, .content {
          padding: $lg-spacing;
        }

        .time {
          display: flex;
          align-items: center;
          justify-content: left;

          > div {
            flex-grow: 1;
          }

          .clock {
            svg {
              width: 50px; height: 50px;
              background: $red;
              border-radius: 50%;

              circle {
                fill: $red;
                stroke: $orange;
                stroke-width: 32;
              }
            }

            &.midday {
              svg {
                transform: rotate(-120deg); /*hour starting point from 3:00 - (360/12 * hour) */

                circle {
                  stroke-dasharray: 25 100; /*duration as percentage: 100/12 * hours */
                }
              }
            }

            &.afternoon {
              svg {
                transform: rotate(-30deg);

                circle {
                  stroke-dasharray: 33 100;
                }
              }
            }

            &.evening {
              svg {
                transform: rotate(90deg);

                circle {
                  stroke-dasharray: 33 100;
                }
              }
            }
          }
        }
      }
    }
  }

  .factory-agenda {
    section.schedule {
      .schedule-grid {
        .side-program {
          display: flex;

          .pure-g {
            display: flex;
            flex-direction: column;
          }

          .side-program-inner {
            display: flex;
            flex-direction: column;

            .background-container {
              margin-left: $md-spacing;
              display: flex;
              flex-grow: 1;
              align-items: center;
            }
          }

        }

        .background-container {
          margin-bottom: $lg-spacing;
        }

        .time, .content {
          padding: $lg-spacing;
        }

        .time {
          display: flex;
          align-items: center;
          justify-content: left;

          > div {
            flex-grow: 1;
          }

          .clock {
            svg {
              width: 50px; height: 50px;
              background: $red;
              border-radius: 50%;

              circle {
                fill: $red;
                stroke: $orange;
                stroke-width: 32;
              }
            }

            &.morning {
              svg {
                transform: rotate(-180deg); /*hour starting point from 3:00 - (360/12 * hour) */

                circle {
                  stroke-dasharray: 25 100; /*duration as percentage: 100/12 * hours */
                }
              }
            }

            &.lunch {
              svg {
                transform: rotate(-90deg);

                circle {
                  stroke-dasharray: 13 100;
                }
              }
            }

            &.afternoon {
              svg {
                transform: rotate(-45deg);

                circle {
                  stroke-dasharray: 29 100;
                }
              }
            }

            &.evening {
              svg {
                transform: rotate(60deg);

                circle {
                  stroke-dasharray: 17 100;
                }
              }
            }
          }
        }
      }
    }
  }
}

section#tracks-display {
  .tracks {
    .track {
      padding: $md-spacing;
      text-align: center;
      transition: background 0.3s ease-in-out;
      height: 100%;

      .hide-unless-active {
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        font-weight: $bold;
      }

      img {
        margin-top: $md-spacing;
        height: 100px;
      }

      &.active {
        background: $red;
        color: $white !important;

        img {
          filter: brightness(100);
        }

        .hide-unless-active {
          opacity: 1;
        }
      }

      .btn {
        color: $red;
        border-color: $red;
        margin-bottom: $md-spacing;
        margin-top: $md-spacing;
        text-transform: uppercase;
      }

      .disabled {
        color: $light-gray;
        cursor: auto;
      }
    }
  }

  .pure-g, .pure-u-1 {
    display: flex;
  }
}

section#cocreation_process {
  .cocreation_process {
    margin-top: $lg-spacing;
    margin-bottom: $md-spacing;
  }

  .slick-dots {
    position: relative;
    bottom: 0;

    li {
      padding: 0 10%;

      button {
        background-color: $white;
        border-radius: 50%;

        &:before {
          font-size: $h3-size;
          top: -60px;
          font-family: $title-font;
          color: $orange;
          width: 100%;
          font-family: $title-font;
        }
      }

      &:before {
        content: '';
        width: 0%;
        outline: 2px solid $white;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: -51%;
      }

      &:after {
        content: '';
        width: 0%;
        outline: 2px solid $red;
        position: absolute;
        z-index: -1;
        top: 50%;
        transition: width 0.5s ease-in-out;
        left: -51%;
      }

      &:nth-of-type(1) {
        &:after {
          content: none;
        }

        button {
          &:before {
            content: 'Connect';
          }
        }
      }

      &:nth-of-type(2) {
        &:before {
          width: 100%;
        }

        button {
          &:before {
            content: 'Ideate';
          }
        }
      }

      &:nth-of-type(3) {
        &:before {
          width: 100%;
        }

        button {
          &:before {
            content: 'Launch';
          }
        }
      }

      &.slick-active, &.still-active {
        button {
          background-color: $red;
        }

        &:after {
          width: 100%;
        }
      }
    }
  }

  .content-container {
    padding: $sm-spacing;

    &.centered {
      text-align: center;
      justify-content: center;
    }

    .image {
      max-width: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
  }
}

section#partners {
  .partner-group {
    margin-bottom: 60px;

    .logos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    h3 {
      margin: 0;
    }

    img {
      max-width: 120px;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;

      &:not(#endeva-logo) {
        margin-left: 40px;
      }

      &#endeva-logo {
        max-width: 200px;
      }
    }
  }
}

section#participants {
  padding-bottom: $xl-spacing;

    .slide {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        filter: grayscale(1);
        max-width: 80px;
        margin: $sm-spacing;
      }
    }
}

.background-container-sm {
  background: $white;
  width: 100%;
  height: 80%;
  position: absolute;
  z-index: -1;
}

.hidden {
  display: none;
}

.process-collage {
  position: relative;
  display: flex;
  justify-content: flex-end;
  /*align-items: center;*/
  height: 240px;
  width: 100%;

  .robot-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 85%;
    display: flex;
    align-items: flex-end;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.process-steps {
  position: relative;

  .background {
    position: absolute;
    height: 100%;
    width: 50vw;

    img {
      height: 100%;
    }
  }
}

.step-title {
  position: relative;
  font-family: $title-font;
  z-index: 1;

  .bg-circle {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: $white;
    z-index: -1;
  }

  .number {
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
    line-height: 1;
    transform: rotate(-15deg);
    color: $red;
  }
}

.testimonial-container {
  .testimonial {
    .image-container {
      position: relative;

      .img-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        margin-top: -40px;
      }

      img.image {
        max-width: 100%;
        min-height: 250px;
        object-fit: cover;
        padding: 60px;
      }
    }

    .quote {
      border-left: 6px solid $orange;
      padding-left: 20px;
      font-style: italic;
    }
  }

  &.stagger {
    &:nth-of-type(3n+1) {
      .testimonial {
        .image-container {
          .img-bg img {
            transform: rotate(0deg)
          }
        }
      }
    }

    &:nth-of-type(3n+2) {
      .testimonial {
        margin-top: 60px;
        .image-container {
          .img-bg img {
            transform: rotate(180deg)
          }
        }
      }
    }

    &:nth-of-type(3n+3) {
      .testimonial {
        margin-top: 120px;
        .image-container {
          .img-bg img {
            transform: rotate(245deg)
          }
        }
      }
    }
  }

}

.track-item {
  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .bg-circle {
      position: absolute;
      height: 150px;
      width: 150px;
      border-radius: 150px;
      background-color: $red-100;
      transition: all 0.25s ease;
    }

    .circuit {
      position: absolute;
      left: -40px;
      top: 0px;
      width: 120%;
    }

    .icon {
      transition: all 0.25s ease;
      bottom: 0;
      left: 0;

      img {
        width: 160px;
        height: auto;
      }
    }
  }

  .text {
    .link {
      text-transform: uppercase;
      font-size: 0.8em;
      transition: all 0.25s ease;
    }
  }

  &:hover {
    .image-container {
      .bg-circle {
        height: 200px;
        width: 200px;
        border-radius: 200px;
        background-color: $red;
      }

      .icon {
        img {
          filter: brightness(100);
        }
      }
    }

    a.link{
      @include button;
    }
  }
}

/*.collection {
  .track-item {

      &:nth-of-type(3n+1) {
        margin-top: 0px;
      }

      &:nth-of-type(3n+2) {
        margin-top: 60px;
      }

      &:nth-of-type(3n+3) {
        margin-top: 120px;
      }

  }
}*/

.journey-container {
  .testimonial {
    .image-container {
      position: relative;

      .img-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
      }

      img.image {
        max-width: 100%;
        min-height: 250px;
        object-fit: cover;
        padding: 40px;
      }
    }

    .quote {
      border-left: 6px solid $orange;
      padding-left: 20px;
      font-style: italic;
    }
  }

}