@media screen and (max-width: 960px ) {
  body {

    * {
      hyphens: auto;
      white-space: pre-wrap;
    }

    h1 {
      font-size: calc(40px + 2vw);
    }

    h2 {
      font-size: calc(30px + 1.5vw);
    }

    .subtitle, .oversize {
      font-size: calc(20px + 1vw);
    }

    .indented {
      margin-left: 0;
    }

    section {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .track-page {
      h1 {
        font-size: calc(40px + 2vw);
      }
    }

    .cta {
      flex-direction: column;

      .text {
        text-align: center;
      }

      .line {
        margin-top: 20px;
        margin-bottom: 20px;

        &:before {
          content: '';
          position: absolute;
          bottom: -5px;
          left: -10px;
          height: 10px;
          width: 10px;
          border-radius: 10px;
          border: 2px solid $orange;
        }
      }
    }

    #header {
      overflow: hidden;

      .popout-video-btn {
        margin-top: 40px;
        margin-bottom: 20px;
        max-width: 60vw;
        margin-left: auto;
        margin-right: auto;
      }

      .header-image, .header-video {
        margin-top: 10px;
        margin-bottom: 10px;
      }

    }

    .img-bg {
      overflow: hidden;
    }

    .testimonial-container.stagger .testimonial {
      margin-top: 0 !important;
    }

    .journey-container .testimonial {
      margin-top: 0 !important;
    }

    #process {
      .background {
        display: none;
      }

      .step-title {
        margin-bottom: 0;
        margin-left: 10px;
      }

      .process-collage {
        justify-content: center;
        align-items: center;

        .robot-icon {
          position: relative;
          display: flex;
          align-items: center;
        }

        .step-title {
          display: flex;
          align-items: flex-end;
          margin-right: 40px;
          padding-bottom: 40px;
          z-index: unset;

          .number {
            position: relative;
          }

          .bg-circle {
            position: absolute;
          }
        }
      }
    }

    .image-slides {
      .image-carousel {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    #results .testimonial-container .testimonial .image-container img.image {
      max-width: 75%;
    }

    .popout-video {
      width: 100vw;
    }
  }
}

@media screen and (max-width: 460px ) {
  body {
    #partners {
      .endeva-line {
        flex-direction: column;
        align-items: center;

        a {
          margin-top: -20px;
          margin-bottom: 10px;
        }
      }
    }

    h1 {
      font-size: calc(36px + 2vw);
    }

    h2 {
      font-size: calc(26px + 1.5vw);
    }

    .subtitle, .oversize {
      font-size: calc(16px + 1vw);
    }

    .track-page {
      h1 {
        font-size: calc(36px + 2vw);
      }

      .subtitle {
        font-size: 26px;
      }
    }

  }
}